<div id="Classes" align="center">
    <h3>Class database interactions:</h3>
    <form action="/addClass">
        <input type="submit" name="addClass" value="Add a Class" />
    </form>
    <br>
    <form action="/findClass">
        <input type="submit" name="findClass" value="Find a Class" />
    </form>
    <br>
    <form action="/deleteClass">
        <input type="submit" name="deleteClass" value="Delete a Class" />
    </form>
    <br>
</div>