<div id="Clubs" align="center">
    <h3>Extracurricular database interactions:</h3>
    <form action="/findClub">
        <input type="submit" name="findExtra" value="Find a Club" />
    </form>
    <br>
    <form action="/addClub">
        <input type="submit" name="addExtra" value="Add a Club" />
    </form>
    <br>
    <form action="/deleteClub">
        <input type="submit" name="deleteClub" value="Delete a Club" />
    </form>
    <br>
    <form action="/clubStudents">
        <input type="submit" name="viewClub" value="View a Club" />
    </form>
</div>