<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <h1>Delete a student page</h1>
    <h2>Please enter the name of the student below:</h2>
    <form>
        First Name:<br>
        <input type="text" name="firstname" id="fname" value="{{FirstName}}">
        <br>
        Last Name:<br>
        <input type="text" name="lastname" id="lname" value="{{LastName}}">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <script src="/deleteStudent.js"></script>
</body>
</html>