<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <h1>Delete a teacher page</h1>
    <table align="center">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>House</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tbl2" class="rows">
            {{#each teacher}}
            <tr>
                <td id="fn">{{FirstName}}</td>
                <td id="ln">{{LastName}}</td>
                <td>{{HouseName}}</td>
                <td><a href="/deleteTeacher/{{ID}}">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
