<!-- Link to website: URL: http://web.engr.oregonstate.edu/~everdykc/ -->
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="myscripts.js"></script>
    <title>Hogwarts</title>

</head>

<body>
    <!-- 			<div class="header">
              <h1>CS340: Harry Potter Database Project</h1>
              <p>By: Jessica Adams and Christina Everdyke</p>
            </div> -->
    <div class="hero-image"></div>
    <!-- 
            <nav class="nav nav-pills nav-fill">
              <a class="nav-item nav-link active" href="#">Active</a>
              <a class="nav-item nav-link" href="#">Link</a>
              <a class="nav-item nav-link" href="#">Link</a>
              <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </nav> -->

    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Students')" id="defaultOpen">Students</button>
        <button class="tablinks" onclick="openCity(event, 'Houses')">Houses</button>
        <button class="tablinks" onclick="openCity(event, 'Clubs')">Clubs</button>
        <button class="tablinks" onclick="openCity(event, 'Teachers')">Teachers</button>
        <button class="tablinks" onclick="openCity(event, 'Classes')">Classes</button>
    </div>

    <!-- Tab content -->
    <div id="Students" class="tabcontent" align="center">
        <h3>Hogwart's student database interactions:</h3>
        <form action="/findStudent">
            <input type="submit" name="findStudent" value="Find a Student" />
        </form>
        <br>
        <form action="/addStudent">
            <input type="submit" name="addStudent" value="Add a Student" />
        </form>
        <br>
        <form action="/deleteStudent">
            <input type="submit" name="deleteStudent" value="Delete a Student" />
        </form>
        <br>
        <form action="/editStudent">
            <input type="submit" name="editStudent" value="Edit a Student"/>
        </form>
    </div>

    <div id="Houses" class="tabcontent" align="center">
        <h3>Hogwart's house database interactions:</h3>
        <form action="/findHouse">
            <input type="submit" name="findHouse" value="Find a House" />
        </form>
        <br>
        <form action="/addHouse">
            <input type="submit" name="addHouse" value="Add a House" />
        </form>
    </div>

    <div id="Clubs" class="tabcontent" align="center">
        <h3>Extracurricular database interactions:</h3>
        <form action="/findExtra">
            <input type="submit" name="findExtra" value="Find a Club" />
        </form>
        <br>
        <form action="/addExtra">
            <input type="submit" name="addExtra" value="Add a Club" />
        </form>
    </div>

    <div id="Teachers" class="tabcontent" align="center">
        <h3>Teacher database interactions:</h3>
        <form action="/findTeacher">
            <input type="submit" name="findTeacher" value="Find a Teacher" />
        </form>
        <br>
        <form action="/addTeacher">
            <input type="submit" name="addTeacher" value="Add a Teacher" />
        </form>
        <br>
        <form action="/deleteTeacher">
            <input type="submit" name="deleteTeacher" value="Delete a Teacher" />
        </form>
        <br>
    </div>

    <div id="Classes" class="tabcontent" align="center">
        <h3>Class database interactions:</h3>
        <form action="/addClass">
            <input type="submit" name="addClass" value="Add a Class" />
        </form>
        <br>
        <form action="/findClass">
            <input type="submit" name="findClass" value="Find a Class" />
        </form>
        <br>
        <form action="/deleteClass">
            <input type="submit" name="deleteClass" value="Delete a Class" />
        </form>
        <br>
    </div>
</body>

</html>