<div id="Houses" align="center">
    <h3>Hogwart's house database interactions:</h3>
    <form action="/findHouse">
        <input type="submit" name="findHouse" value="Find a House" />
    </form>
    <br>
    <form action="/addHouse">
        <input type="submit" name="addHouse" value="Add a House" />
    </form>
</div>