<div id="Houses" align="center">
    <h3>Hogwart's house database interactions:</h3>
    <br>
    <form action="/houseInfo">
        <input type="submit" name="addHouse" value="House Information" />
    </form>
</div>