<div id="Students" align="center">
    <h3>Hogwart's student database interactions:</h3>
    <form action="/findStudent">
        <input type="submit" name="findStudent" value="Find a Student" />
    </form>
    <br>
    <form action="/addStudent">
        <input type="submit" name="addStudent" value="Add a Student" />
    </form>
    <br>
    <form action="/deleteStudent">
        <input type="submit" name="deleteStudent" value="Delete a Student" />
    </form>
</div>