<div id="Teachers" align="center">
    <h3>Teacher database interactions:</h3>
    <form action="/findTeacher">
        <input type="submit" name="findTeacher" value="Find a Teacher" />
    </form>
    <br>
    <form action="/addTeacher">
        <input type="submit" name="addTeacher" value="Add a Teacher" />
    </form>
    <br>
    <form action="/deleteTeacher">
        <input type="submit" name="deleteTeacher" value="Delete a Teacher" />
    </form>
    <br>
</div>